<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Robot Informe Petroleo</title>	
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/template.css') }}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <h1>Copia/Pega el informe que encontraras <a href="http://ir.eia.gov/wpsr/wpsrsummary.pdf" target="_blank">aqui</a></h1>


    <h2>(y deja que el robot haga el trabajo)</h2>


    <form action="." method="post">
        <textarea class="form-control custom-control" name="text" rows="5"
        style="resize:none"> </textarea> <input name="my-form" type="submit" value="Enviar">
    </form>
    
     
    <div id="result">
{% if scroll %}
<script>
    document.getElementById('{{ scroll }}').scrollIntoView();
    // or
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}
</body>
<script type="text/javascript"
	src="http://www.oil-price.net/TABLE3/gen.php?lang=en">
</script>
</html>


